{#
/**
 * @file
 * Theme override for node body field (any ctype, any view mode).
 * ~ add div.summary
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="summary">
  {% include "@cwd_base/includes/_field--un-wrapped.html.twig" %}
</div>
