// Import CWD Cornell Framework variables
@import "cwd-variables";

// Basic Starter Project (includes Freight fonts)
// ---------------------------------------------------------------------------
// Recommended breakpoints to match base theme:
// @media (min-width: 321px) - above 3.5" phones begins
// @media (min-width: 480px)
// @media (min-width: 624px)
// @media (min-width: 768px) - tablet begins, sidebar begins
// @media (min-width: 992px) - desktop main navigation begins
// @media (min-width: 1080px)
// @media (min-width: 1200px)
// @media (min-width: 1400px) - maximum content width begins

// Set project link and button colors (or accept the defaults) 
$project-color-link: #09667c; // default text link color
$project-color-link-hover: $cwd-color-link-hover; // text link :hover color (also used for :focus)
$project-color-link-active: $cwd-color-link-active; // text link :active color
$project-color-button: #09667c; // default button link color
$project-color-button-hover: $cwd-color-button-hover; // text button :hover color (also used for :focus)
$project-color-button-active: $cwd-color-button-active; // text button :active color

// Import CWD Components
//@import "components/type-freight";
@import "components_cbb/type-myriad";
@import "components/utility";
@import "components/basic";
@import "components/events";
@import "components/news";
@import "components/spotlight";
@import "components/people";

/* Layout */
body {
	background: #f9f9f9;
}
#main-content {
	background: #f9f9f9;
	
	.secondary-page & {
		background: #fff;
	}
	
	.home & {
		background: #f7f7f7;
		background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%);
		background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 100%);
		overflow: visible;
		position: relative;
		z-index: 4;
		
		#sidebar-bottom {
			@media (min-width: 768px) {
				margin-top: -50px;
			}
			@media (min-width: 992px) {
				margin-top: -56px;
			}
			@media (min-width: 1200px) {
				margin-top: -60px;
			}
		}
		h2 {
			color: #000;
			font-size: 32px;
			
			@media (min-width: 1200px) {
				font-size: 38px;
			}
		}
		a.link-button {
			@media (min-width: 768px) and (max-width: 1199px) {
				font-size: 14px;
				margin-top: 0.3em;
			}
			@media (min-width: 1200px) {
				margin-top: 0.4em;
			}
		}
	}
	
}
.home #main {
	background: none;
	padding-top: 2em;
	
	&:before {
		background: #fff;
		box-shadow: 15px 0 0 #fff;
		
		@media (min-width: 768px) {
			margin-top: -36px;
		}
		@media (min-width: 992px) {
			margin-top: -46px;
			box-shadow: none;
		}
		@media (min-width: 1200px) {
			margin-top: -56px;
		}
	}
	.row > .secondary {
		@media (min-width: 768px) {
			padding-right: 15px;
		}
		@media (min-width: 992px) {
			padding-right: 45px;
		}
		@media (min-width: 1200px) {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	
	#main-article {
		@media (min-width: 1200px) {
			width: 62%;
		}
	}
	.primary, .secondary {
		@media (min-width: 768px) {
			margin-bottom: 0;
			
			&:after {
				content: none;
			}
		}
	}
}
.band.accent1 {
	background: #f2f2f2;
}
.band.accent2 {
	background: #1c1e2a;
}
.band.accent-white {
	background: #fff;
}

/* Super Header (with support for homepage slider and secondary page banners) */
#super-header {
	position: relative;
	background: #080519 url('../images/cbb/header_secondary.jpg') 50% 50% no-repeat;
	background-size: cover;
	
	#cu-header { 
		position: relative;
		z-index: 6;
		background: rgba(34,34,34,0.7) !important;
		
		h1 {
			@media (max-width: 767px) { // max-width
				text-align: center;
				margin-bottom: 20px;
				margin-left: -2px;
			}
		}
		
		h1 img {
			width: 100%;
			height: auto;
			max-width: 420px;
			
			@media (max-width: 991px) { // max-width
				max-width: 380px;
			}
			@media (max-width: 767px) { // max-width
				position: relative;
				top: 17px;
			}
			@media (max-width: 483px) { // max-width
				//max-width: calc(100% - 73px);
				max-width: 350px;
				margin-top: 12px;
				position: relative;
				top: 20px;
			}
			
		}
	}
	#site-header {
		position: relative;
		z-index: 6;
		background: rgba(34,34,34,0.7) !important;
	}
	.cu-search {
		margin-top: calc(-7em + 4px);
		border: 0;
		background-image: linear-gradient(to right, #c73f16 0%,#b31b1b 80%);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 100% 4px;
		
		&.open {
			margin-top: 0;
		}
	}
	.banner-message {
		color: #fff;
		width: 100%;
		max-width: 320px;
		margin: 0 auto 24px;
		text-align: center;
		position: relative;
		z-index: 5;
		top: -10px;
		
		h2 {
			font-family: $project-font-family-sans-serif;
			font-weight: 300;
			font-size: 14px;
			line-height: 1.3;
			display: inline;
			margin-right: 8px;
		}
		a.link-button {
			position: relative;
			top: -0.1em;
			
			@media (max-width: 1199px) { // max-width
				font-size: 14px;
			}
			@media (max-width: 767px) { // max-width
				top: 0;
				font-size: 12px;
				background: rgba(0,0,0,0.7);
			}
		}
		
		@media (min-width: 375px) {
			max-width: 360px;
		}
		@media (min-width: 768px) {
			position: absolute;
			top: auto;
			bottom: 20px;
			width: 60%;
			max-width: 640px;
			margin: 0;
			text-align: left;
			
			h2 {
				font-size: 18px;
				line-height: 1.6;
				margin-right: 15px;
			}
		}
		@media (min-width: 992px) {
			bottom: 30px;
			
			h2 {
				font-size: 22px;
			}
		}
		@media (min-width: 1200px) {
			bottom: 40px;
			
			h2 {
				font-size: 25px;
				margin-right: 20px;
			}
		}
	}
}
.home #super-header, .custom-banner-message #super-header {
	background-image: url('../images/cbb/header_home.jpg');
	min-height: 140px;
	min-height: 26vw;
	max-height: 90vh;
	
	@media (min-width: 768px) {
		height: 26vw;
	}
	@media (min-width: 992px) {
		min-height: 320px;
	}
	
	&.color-gradient:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
		background: -moz-linear-gradient(-45deg, #3100ff 0%, #ff00d7 35%, #ff6a00 65%, #007cff 100%);
		background: -webkit-linear-gradient(-45deg, #3100ff 0%,#ff00d7 35%,#ff6a00 65%,#007cff 100%);
		background: linear-gradient(135deg, #3100ff 0%,#ff00d7 35%,#ff6a00 65%,#007cff 100%);
		opacity: 0.35;
		mix-blend-mode: soft-light;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
		background: -moz-linear-gradient(top, rgba(28,33,38,0.6) 0%, rgba(28,33,38,0.8) 100%);
		background: -webkit-linear-gradient(top, rgba(28,33,38,0.6) 0%,rgba(28,33,38,0.8) 100%);
		background: linear-gradient(to bottom, rgba(28,33,38,0.6) 0%,rgba(28,33,38,0.8) 100%);
		
		@media (min-width: 768px) {
			top: 40%;
			background: -moz-linear-gradient(top, rgba(28,33,38,0) 0%, rgba(28,33,38,0.9) 100%);
			background: -webkit-linear-gradient(top, rgba(28,33,38,0) 0%,rgba(28,33,38,0.9) 100%);
			background: linear-gradient(to bottom, rgba(28,33,38,0) 0%,rgba(28,33,38,0.9) 100%);
		}
	}
	
	#cu-header { 
		background: none !important;
		
		@media (min-width: 768px) {
			background: -moz-linear-gradient(top, rgba(34,34,34,0.9) 0%, rgba(34,34,34,0.65) 100%) !important;
			background: -webkit-linear-gradient(top, rgba(34,34,34,0.9) 0%,rgba(34,34,34,0.65) 100%) !important;
			background: linear-gradient(to bottom, rgba(34,34,34,0.9) 0%,rgba(34,34,34,0.65) 100%) !important;
		}
	}
	#site-header {
		background: rgba(34,34,34,0.65) !important;
	}
	.slide-buffer {
		background-position: 50% 0;
		
		@media (min-width: 768px) {
			background-position: 50% 15%;
		}
	}
	.slider-container {
		z-index: 5;
		position: absolute;
		top: 64%;
		bottom: 0;
		
		@media (min-width: 768px) {
			top: auto;
			bottom: 8%;
		}
		
		.caption-inner {
			left: 42px !important;
			right: 42px;
			top: 0 !important;
			bottom: 0;
			@extend .vertical-align;
			
			@media (min-width: 768px) {
				left: 0 !important;
				right: auto;
				top: auto !important;
				padding: 0;
				bottom: 80px;
				background: none;
				width: 50%;
				max-width: 600px;
				
				// uncomment the lines below for right-aligned headlines
				/*
				bottom: 0; 
				left: auto !important;
				right: 0;
				max-width: 50%;
				text-align: right;
				*/
			}
			
			.caption-focus {
				width: 100%;
			}
		}
		.slider-caption {
			padding: 0 15px;
			text-align: center;
			background: none;
			
			@media (min-width: 768px) {
				position: relative;
				padding: 0 30px;
				text-align: left;
			}
			@media (min-width: 992px) {
				padding: 0 60px;
			}
			
			h2 {
				font-size: 15px;
				font-weight: 500;
				line-height: 1.35;
				margin-bottom: 0.4em;
	
				@media (min-width: 768px) {
					font-weight: 400;
					font-size: 28px;
				}
				@media (min-width: 1200px) {
					font-size: 34px;
				}
	
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				font-size: 13px;
				text-transform: none;
	
				@media (min-width: 768px) {
					font-size: 16px;
				}
				@media (min-width: 1200px) {
					font-size: 18px;
				}
			}
		}
		.campaign-nav {
			left: 0 !important;
			
			@media (max-width: 767px) {
				width: 100% !important;
				left: 0 !important;
				right: 0 !important;
				top: 48%;
				top: calc(50% - 26px);
				
				.next-prev {
					
					a {
						border: 0;
						width: 26px;
						height: 52px;
						position: absolute;
						margin: 0 3px;
						
						.fa {
							line-height: 52px;
						}
					}
					.prev {
						padding-right: 1px;
					}
					.next {						
						padding-left: 1px;
						right: 0;
					}
				}
			}
		}
	}
}

/* Main Navigation (Desktop) */
@media (min-width: 992px) {
	
	#main-navigation {
		padding: 8px 0;
		background: none;
		
		li {
			line-height: 1;
			
			a {
				border-radius: 3px;
				padding: 11px 20px;
				white-space: nowrap;
			}
			&.parent:hover > a {
				border-radius: 3px 3px 0 0;
			}
			li {
				border: 0;
				font-size: 14px;
				
				a {
					border-radius: 0;
					padding: 12px 20px;
				}
			}
			ul {
				background: #44372c;
			}
		}
		& > .container-fluid > ul {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		& > .container-fluid > ul > li > a.is-active, 
		& > .container-fluid > ul > li.menu-item--active-trail > a {
			background: none;
			//color: #ff8a17; // original orange
			//background-image: linear-gradient(to right, rgba(209,66,0,0) 0%,rgba(200,54,8,1) 30%,rgba(188,39,19,1) 70%,rgba(179,27,27,0) 100%); // original orange
			background-image: linear-gradient(to right, rgba(255,138,23,0) 0%,rgba(241,116,16,1) 30%,rgba(223,87,7,1) 70%,rgba(209,66,0,0) 100%);
			background-position: 0 100%;
			background-repeat: repeat-x;
			background-size: 100% 2px;
		}
		& > .container-fluid > ul > li > a.is-active:hover, 
		& > .container-fluid > ul > li.menu-item--active-trail > a:hover {
			background: rgba(0, 0, 0, 0.3);
		}
		.fa-caret-down {
			margin-right: -0.3em;
		}
	}
}

/* Utility Navigation (Desktop) */
@media (min-width: 992px) {
	
	.cu-gray #utility-navigation {
		
		li {
			font-size: 14px;
			border-right: 1px solid rgba(255,255,255,0.3);
			margin-top: 8px;
			
			&:last-child {
				border: 0;
			}
		}
		a {
			color: #86d6e8;
			background: none;
			height: 21px;
			line-height: 20px;
			padding: 0 22px;
			
			&:hover {
				background: none;
				color: #fff;
				text-decoration: underline;
			}
			&:focus {
				background: none;
			}
		}
		
		
	}
}

/* Section Navigation */
.secondary-navigation ul ul ul, .menu-block-title + .secondary-navigation ul ul {
	border-color: #ff7f00;
}

/* Footer */
body > footer, #body-footer {
	background: #222 url('../images/cbb/footer.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: #b1afaf;
	
	h2 {
		font-size: 24px;
		color: #fff;
	}
	a.link-block {
		background: rgba(255,255,255,0.1);
		
		&:hover {
			background: rgba(255,255,255,0.15);
		}
		&:active {
			background: rgba(255,255,255,0.05);
		}
		
		@media (min-width: 768px) {
			padding: 0.8em 1.6em;
		}
	}
	.flex-grid {
		align-items: center;
		
		h2 {
			margin-bottom: 0.3em;
		}
		& > * {
			text-align: center;
			
			&:first-child {
				margin-bottom: 2.5em;
			}
			@media (min-width: 834px) {
				margin-bottom: 0 !important;
			}
			
			.custom.inline {
				justify-content: center;
				margin-bottom: 3em;
				
				@media (min-width: 768px) {
					margin-bottom: 2em;
				}
				
				li {
					position: relative;
					padding-left: 15px !important;
					
					@media (min-width: 768px) {
						padding-right: 15px !important;
					}
					
					&:first-child {
						padding-left: 0 !important;
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						height: 1.5em;
						border-right: 1px solid #454840;
					}
					&:last-child:after {
						content: none;
					}
				}
			}
		}
	}
	.main-footer .container-fluid:after {
		@media (min-width: 768px) {
			border-color: #543c4e;
		}
	}
	.sub-footer {
		background: rgba(0,0,0,0.5);
	}
	img.nsf {
		width: 120px;
		height: auto;
		opacity: 0.6;
		
		@media (min-width: 768px) {
			width: 80px;
		}
	}
	.block {
		margin: 0;
	}
}

/* Content Styles */
a {
	color: $project-color-link;
}
a.link-button {
	background: #b31b1b;
	background: linear-gradient(135deg, #d14200 0%,#b31b1b 100%);
	
	&:hover, &:focus {
		background: linear-gradient(135deg, #b53600 0%,#991818 100%);
	}
	&:active {
		background: linear-gradient(135deg, #992b00 0%,#7F1414 100%);
	}
}
main h2, #main h2 {
	color: #444;
}
blockquote.impact, blockquote.offset {
	border-left-color: #ff7f00;
}
@media (min-width: 992px) {
	blockquote.offset {
		border-right-color: #ff7f00;
	}
	article aside.column {
		border-left: 3px solid #ff7f00;
	}
}
// article aside {
// 	background: #fff8f0;
// 	border-color: #feecda;
// }

/* Components */

.cwd-events {
	.time:before {
		color: #ff7f00 !important;
	}
	a:hover .time:before {
		color: #000 !important;
	}
}

.cwd-news, .cwd-spotlight {
	.date:before {
		background: #ff7f00;
		margin-top: 0.15em;
		margin-right: 0.4em;
	}
	
	&.full {
		.date {
			font-size: 14px;
		}
	}
	
	.metadata-set > * {
		border: 0;
	}
}

.cwd-basic {
	.card-section {
		h2, h3, h4 {
			border-left-color: #ff7f00;
		}
	}
}
.cwd-component {
	
	.category .field-emphasize {
		margin-right: 0.5em;
	}
}

ul.custom.links {
	font-size: 16px;
}

#research {
	background: #1c1e2a url('../images/cbb/background_research.jpg') 50% 50% no-repeat;
	background-size: cover;
	padding-bottom: 3em;
	color: #d8d8d8;
	
	.secondary-page & {
		background: #f0f0f0;
		color: #222;
	}
	
	.constrain-480 {
		text-align: center;
		margin-bottom: 3em;
	}
	h2 {
		color: #fff;
		font-size: 32px;
		
		@media (min-width: 1200px) {
			font-size: 38px;
		}
		
		.secondary-page & {
			color: #000;
		}
	}
	.intro {
		color: #d8d8d8;
		display: inline-block;
		
		.secondary-page & {
			color: #444;
		}
	}
	.link-button {
		margin-left: 2%;
		margin-right: 2%;
	}
}
.cwd-research {
	&.tiles {
		.group-image {
		
			&:before {
				content: none;
			}
		
			a {
				@at-root .cwd-research.tiles.listing .group-image a:hover {
					box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.05);
				}
				.overlay {
					border-radius: 0 0 6px 6px;
					background: #1b1b1b;
					background: rgba(#1b1b1b, 0.9);
					padding: 20px 15px;
					min-height: 120px;
					@extend .vertical-align;
					justify-content: center;
					@media (min-width: 768px) and (max-width: 1199px) {
						min-height: 100px;
					}
					
					@at-root .cwd-research.tiles.no-overlay .overlay {
						background: none !important;
						min-height: auto !important;
					}
				}
				
				.deco {
					background: -moz-linear-gradient(left, #9f0ca7 0%, #b31b1b 100%);
					background: -webkit-linear-gradient(left, #9f0ca7 0%,#b31b1b 100%);
					background: linear-gradient(to right, #9f0ca7 0%,#b31b1b 100%);
					background-position: 0 1.25em;
					background-repeat: repeat-x;
					background-size: 100% 1px;
					
					@at-root .cwd-research.tiles.no-overlay .overlay .deco {
						background: none !important;
					}
				}
				&:hover .deco, &:focus .deco {
					background-image: -moz-linear-gradient(left, #cc11d6 0%, #ef2626 100%);
					background-image: -webkit-linear-gradient(left, #cc11d6 0%,#ef2626 100%);
					background-image: linear-gradient(to right, #cc11d6 0%,#ef2626 100%);
				}
				&:active .deco {
					background-image: -moz-linear-gradient(left, #7b0a7f 0%, #961818 100%);
					background-image: -webkit-linear-gradient(left, #7b0a7f 0%,#961818 100%);
					background-image: linear-gradient(to right, #7b0a7f 0%,#961818 100%);
				}
			}
			img {
				border-radius: 6px;
			}
		}
		h3 {
			font-family: $project-font-family-sans-serif;
			font-weight: 400;
			font-size: 19px;
			line-height: 1.4;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration: none !important;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				font-size: 16px;
			}
			@media (min-width: 1200px) {
				@at-root .cwd-research.tiles.listing .group-image h3 {
					font-size: 18px !important;
				}	
			}
		}
		
		// extra tile spacing at larger viewport sizes
		@media (min-width: 1300px) {
			.cards {
				margin-left: -25px;
				margin-right: -25px;
				
				@at-root .cwd-research.tiles.listing .cards {
					margin-left: -20px !important;
					margin-right: -20px !important;
				}
			}
			.card {
				padding-left: 25px;
				padding-right: 25px;
				
				@at-root .cwd-research.tiles.listing .card {
					padding-left: 20px !important;
					padding-right: 20px !important;
				}
			}
		}
		@media (min-width: 1400px) {
			.cards {
				margin-left: -30px;
				margin-right: -30px;
			}
			.card {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

/* Homepage Promo Band */

.promo-band {
	
	h2 {
		font-size: 32px;
		
		@media (min-width: 1200px) {
			font-size: 38px;
		}
	}
	
	.figure-and-links {
		img {
			margin-bottom: 2em;
			
			@media (min-width: 834px) {
				max-width: 90%;
				margin-bottom: 0;
			}
		}
		ul {
			margin-bottom: 2em;
			
			@media (min-width: 834px) {
				margin-bottom: 0;
			}
		}
		li {
			font-size: 16px;
			
			@media (min-width: 834px) {
				font-size: 12px;
			}
			@media (min-width: 1080px) {
				font-size: 13px;
			}
			@media (min-width: 1200px) {
				font-size: 14px;
			}
		}
		.institutions {
			li {
				padding-left: 1.3em;
			
				&:before {
					@extend .icon-zmdi;
					color: #ff8a17;
					content: '\f112';
					opacity: 1;
					left: 0;
					top: 0.2em;
				}
			}
		}
		.labs {
			li {
				padding-left: 1.3em;
			
				&:before {
					@extend .icon-zmdi;
					color: #ff8a17;
					content: '\f171';
					opacity: 1;
					left: 0;
					top: 0.2em;
				}
			}
		}
	}
}
.band + .container-fluid {
	clear: both;
}

// Tippy tooltips
.tippy-tooltip-text {
	text-decoration: none !important;
	border-bottom: 1px dashed #000;
	cursor: help;
}

// Forms

#views-exposed-form-spotlights-page-listing, 
#views-exposed-form-people-page-listing, 
#views-exposed-form-research-page-listing {
	display: flex;
	align-items: flex-end;
	max-width: 480px;
	margin: 0 auto;
	clear: both;
	
	@media (min-width: 768px) {
		max-width: 600px;
		margin-left: 0;
	}
	
	label {
		margin-bottom: 0.5em;
	}
	.js-form-type-select {
		flex-grow: 1;
		padding-right: 10px;
		
		select {
			max-width: 100%;
		}
	}
	#edit-actions {
		//width: 100px;
		//text-align: right;
		
		@media (min-width: 992px) {
			//width: 120px;
		}
		input {
			margin-bottom: 0.15em;
			line-height: 1;
		}
	}
}

// Narrower sidebar on larger screens

@media (min-width: 1080px) {
	.secondary-page.sidebar.sidebar-tint-edge main:before, 
	.secondary-page.sidebar .row > .secondary {
		width: 33%;
	}
	.secondary-page.sidebar .row > .primary {
		width: 66%;
	}
}
@media (min-width: 1200px) {
	.secondary-page.sidebar.sidebar-tint-edge main:before, 
	.secondary-page.sidebar .row > .secondary {
		width: 31%;
	}
	.secondary-page.sidebar .row > .primary {
		width: 68%;
	}
}

