{# Only site search, no "Cornell Search", b/c not a Cornell site. #}
<div id="cu-search" class="cu-search">
  <div class="container-fluid">
    <form id="cu-search-form" role="search" action="/search/node/" method="get">
      <label for="cu-search-query" class="sr-only">Search:</label>
      <input type="text" id="cu-search-query" name="keys" value="" size="30">
      <button name="btnG" id="cu-search-submit" type="submit" value="go"><span class="sr-only">Submit search</span></button>
    </form>
  </div>
</div>
