{% if is_front and node.field_featured_content.value -%}
  <div class="cwd-component cwd-basic cwd-news tiles one-plus-max-3 no-overlay">
    <div class="constrain-480">
      <div class="header-with-button">
        {# TO DO: gross; maybe move to field block??????
        P.S. is "block with button" only available to views blocks???? #}
        <h2>Spotlight</h2>
        <div class="buttons"><a href="/spotlights" class="link-button"><span>View more<span class="sr-only"> spotlights</span></span></a></div>
      </div>
    </div>
    <div class="cards">
      {%- for fc in node.field_featured_content|slice(0,1) -%}
        {{- fc.entity|view('featured_first') -}}
      {%- endfor -%}
      {%- for fc in node.field_featured_content|slice(1,3) -%}
        {{- fc.entity|view('featured_the_rest') -}}
      {%- endfor -%}
    </div>
  </div>
{% endif -%}
