{% extends "node.html.twig" %}
{% block title %}{% endblock %}
{% block content %}

  <div class="card">
    <div class="group-image">
      <a href="{{ url }}">
        <div class="relative">
          {% include "@cwd_cbb/partials/incl--fc-image.html.twig" %}
          {% include "@cwd_cbb/partials/incl--fc-badge.html.twig" %}
        </div>
        {% include "@cwd_cbb/partials/incl--title.html.twig" %}
      </a>
    </div>
    {% if node.field_theme.value -%}
      <div class="group-fields">
        <div class="date supplemental-utility">
          {{- node.field_theme[0].entity.name.value -}}
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}
